# See http://help.github.com/ignore-files/ for more about ignoring files.

# ─────────────────────────────
# ⚙️ Compiled output
# ─────────────────────────────
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# ─────────────────────────────
# 📦 Dependencies
# ─────────────────────────────
/node_modules/
node_modules.zip
package-lock.json

# ─────────────────────────────
# 🧩 Environment and configs
# ─────────────────────────────
.env
.env.local
.env.*.local

# ─────────────────────────────
# 🧠 Profiling files
# ─────────────────────────────
chrome-profiler-events*.json

# ─────────────────────────────
# 💻 IDEs and editors
# ─────────────────────────────
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# ─────────────────────────────
# 🧹 Miscellaneous
# ─────────────────────────────
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
testem.log
/typings

# ─────────────────────────────
# 💾 System files
# ─────────────────────────────
.DS_Store
Thumbs.db
desktop.ini

# ─────────────────────────────
# 🧪 Testing / Reports
# ─────────────────────────────
/reports
/junit.xml

# ─────────────────────────────
# 🚀 Build / Distribution
# ─────────────────────────────
*.tgz
*.zip
*.tar.gz
